.titre{
	text-align: center;
}

.form{
	
	width: 50%;
	margin: auto;
}

.fs{	
	all: revert;
	text-align: center;
    justify-content: center;
    align-items: center;
	
}

legend{
	all: revert;
    padding: 0 0.5em;
	font-weight: bold;
}

.row {
	margin-top: 5px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	gap: 10px;
	align-items: center;
}