body{
    background-color: gainsboro;
}

.body{
    margin-left: 5px;
}

.container{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
}

#logo img{
    height: 70px;
    width: 70px;
    margin-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #191970;
}

#text-header{
    margin-left: 20px;
    color: #191970;

}
#text-header h5{
    margin-bottom: 0;
    
}
#ext-header h3{
    margin-top: 0;
}

header{
    display: flex;
    flex-direction: row;
}


.souligne{
    height: 30px;
    margin-left: 0;
    background-color: #191970;
    color: white;
    padding-top: 5px;
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
}
.souligne-header{
    height: 5px;
    background-color: #87CEFA;
}
.entete{
    margin-left: 5px;
    /*font-family: cursive;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.between{
    height: 35px;
    width: 99%;
    background-color: #e1e5e7;
    margin-bottom: 0;
   
}
.title{
    height: 20px;
    width: 99%;
    background-color: #87CEFA;
    color:#191970;
    margin-top: 0;
    
}

.button button{
    height: 20px;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 5px;
}

.footer{
    padding-bottom: 5px;
}